 .switch {
position : relative;
display : block;
width : 90px;
height : 55px;
margin-bottom: 30px;
}

.slider {
position: absolute;
cursor: pointer;
top: 0; bottom : 0; left : 0; right :0;
background : white;
transition : .5s;
border : 3px solid black;
box-shadow : 1px 1px 1px rgba(0,0,0,0.1)
}
.slider:before{
position : absolute;
content : "";
bottom : 14px;
top : 8px;
background-color : rgb(172,22,22);
transition : 0.5s;
}

.switch input {display : none;}

input:checked+.slider {
background-color : yellow;
}

input:checked+ .slider:before {
transform: translateX(47px) rotateZ(45deg);
background: greem;
}

.slider.round {
border-radius : 35px;
}
.slider.round:before{
width : 43%;
height : 43%;
border-top-left-radius : 50px;
border-top-right-radius : 50px;
transform: rotateZ(-45deg);
}