{% extends "base.html" %}
{% load static %}
{% block title %}Meal sheet {% endblock %}
{% block stylesheet %}{% endblock %}

{% block maincontent %}
    <h5 class="text-center text-primary font-italic">Your shopping date list on {{ today|date:"F y" }}</h5>
    <br>
    <table class="table table-hover table-success table-bordered table-sm">
  <thead>
    <tr class="text-center">
      <th width="33.33%" scope="col">Serial</th>
      <th width="33.33%" scope="col">Date</th>
      <th width="33.33%" scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {% if shopping_dates %}
    {% for shopping_date in shopping_dates %}
    <tr>
      <th>{{ forloop.counter }}</th>
      <td>{{ shopping_date.allotted_date|date:"D M d" }}</td>
      <td>Done</td>
    </tr>
    {% endfor %}
    {% endif %}

  </tbody>
</table>
{% endblock %}
{% block script %}{% endblock %}